body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

.top {
    position: absolute;
    top: 50%;
    margin-left: 250px;
    color: white;
}

#big {
    font-size: 80px;
}

p {
    margin-right: 50%;
    font-size: 20px;
}

#donate {
    text-decoration: none;
    color: white;
    font-size: 10px;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 20px;
}

.container {
    margin-top: 200px;
    display: flex;
    padding-left: 50px;

    padding-right: 10%;
}

#alt {
    width: 100%;
}

.fexible {
    margin-top: 150px;
    margin-left: 200px;
    display: flex;
}

.nai {
    padding-left: 10%;
    padding-right: 10%;
}

.long {
    text-align: center;
    margin-top: 7%;
}

#padding {
    margin-left: 40%;
    margin-right: 30%;
}

.FONT {
    margin-top: 20PX;
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
}

#down {
    margin-top: 30px;
    margin-right: 30px;
}

.back {
    display: flex;
    background-color: bisque;
    border-radius: 15px;
    margin: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.display {
    display: flex;
    margin-top: 5%;
}

#small {
    width: 90%;
    padding-left: 30px;
    padding-right: 20px;
}

#bigg {
    font-size: 70px;
    padding-left: 20%;
    padding-right: 10%;
}

.half-width {
    display: flex;
    margin-top: 5%;
}

#tushar {
    width: 100%;
}

.boder {
    margin: 30px;
    box-shadow: 8px 18px 40px gray;
}

#sabbir {
    padding-left: 30px;
    padding-bottom: 20px;
}

#sa {
    font-size: 20px;
    color: red;
    padding-left: 40px;
    padding-top: -5px;
    margin-bottom: 5px;
}

.black {
    background-color: black;
    margin-top: 7%;
}

#input {
    text-align: center;
    color: white;
    padding-top: 40px;
    padding-bottom: 20px;
}

#chota {
    font-size: 30px;
    color: orangered;
}